.page-header {
  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.menu-svg {
  fill: currentColor;
}

// .menu-toggle {
//   background-color: $white-color;
//   padding: 0;
// }
